notified
startuptime*.log
fish
!fish/config.fish
__pycache__
nvim/lazy-lock.json
nvim/lua/lucas/plugins/development
test.*
*.pass
btop.log
qutebrowser
!qutebrowser/config.py
*.tmp.*
tmux/plugins
*.db
