vivaldi*
1Password
BraveSoftware
htop
dconf
autostart
chromium
Code - Insiders
Ferdium
google-chrome*
gtk*
microsoft-edge-dev
pulse
spotify
systemd
mimeapps.list
pavucontrol.ini
qtile/__pycache__
QtProject.conf
flameshot
cef_user_data
Cypress
dlv
obs-studio
Slack
Unknown Organization
vlc
zoom*