notified
startuptime*.log
Stretchly
!Stretchly/config.json
fish
!fish/config.fish
__pycache__
packer_compiled.lua
nvim/lazy-lock.json
nvim/lua/lucas/plugins/development
test.*
*.pass
btop.log
qutebrowser
!qutebrowser/config.py
*.tmp.*
tmux/plugins
*.db
